<div id="header">
  <h1><%= link_to "TrueHero.es", root_url %></h1>
  <h2>What have you done to thank your true hero?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, laboriosam, in, vel quidem tenetur vitae perspiciatis officiis illo reiciendis atque veniam cum optio laudantium cumque consequatur ut libero expedita ipsam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, minima, mollitia, commodi atque ipsum molestiae dicta cupiditate consectetur eaque necessitatibus quam optio eius architecto sed vitae minus veniam officiis nisi!</p>
</div>
<div class="pledge-form">
  <%= render 'pledges/form', :locale => {:pledge => Pledge.new} %>
</div>

<div class="pledge-examples">
  <h2>Look who's been pledging...</h2>
</div>

<div class="faq">
    <h2>FAQ</h2>
</div>




