<h3>Your pledge is almost complete...</h3>

<p>
  We just need you to link your Facebook or Twitter accounts
  to grab a profile photo for your pledge, and give you the
  ability to share your pledge with others.
</p>

<div class="facebook">
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "button" %>
</div>

<div class="twitter">
  <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), class: "button" %>
</div>
