<h3>Your Pledges</h3>

<% @pledges.each do |pledge| %>
  <p>
    <strong><%= link_to "Pledge created on #{pledge.created_at.strftime("%d %B. %Y")}" %></strong>
    <%= link_to 'Edit', edit_pledge_path(pledge) %>
    <%= link_to 'Delete', pledge_path("#{pledge.id}"), method: :delete, data: { confirm: 'Are you sure you want to delete your pledge?' } %>
  </p>
<% end %>
<br>
<%= link_to 'New Pledge', new_pledge_path %>
<br>
<br>

<br />


