<div class="header">
  <h1><%= link_to "TrueHero.es", root_url %></h1>
</div>

<div class="facebook">
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "button" %>
</div>

<div class="twitter">
  <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), class: "button" %>
</div>

