// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-row {
  position: absolute;
}

#header {

}

#header a {
  color: #ED3324;
}

#header a:hover {
  color: #FC4435;

// pledge example styling
#complete-pledge {
  margin-left: 25%;
  background-color: #ED3324;
  color: #F7EBD1;
  height: 325px;
  width: 325px;
  border-radius: 5px;
  p{
    font-size: 200%;
    line-height: 35px;
  }
}

// to be completed pledge styling


#incomplete-pledge {
  position: relative;
  height: 300%;
  width: 100%;
  margin-top: 36%;
  margin-left: -40%;
  background-color: #ED3324;
  border-radius: 5px;
  p {
    font-size: 250%;
  }
  form {
    color: #F7EBD1;
  }
  form label {
    display: none;
  }
  .button {
    color: #ED3324;
    background-color: #F7EBD1;
    border-color: #DBD0B8;
    margin: auto;
    display: block;
  }

  .button:hover {
      background-color: #DBD0B8;
  }
}

.profile-picture {
  width: 75px;
  height: 75px;
  border-radius: 250px;
  background-color: #F7EBD1;
  margin: auto;
}

#i {

}

#first_name {
  height: 50%;
  width: 25%;
}

#last_name {
  height: 50%;
  width: 30%;
}

#pledge-to {
}

#activity input {
  float: right;
  margin-top: 2%;
  margin-right: 5%;
  width: 35%;
}

#by {
  float: left;
  margin-top: -30%;
  margin-left: 50%;
}

#date {

  width: 20%;
}

#thank {
  display: inline-block;
  line-height: 30px;
}

#email {
  margin: auto;
  width: 50%;
}


